{# app/Resources/views/calendari.html.twig #}

{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block head_stylesheets %}
<link rel="stylesheet" href="{{ asset('bundles/adesignscalendar/css/fullcalendar/fullcalendar.css') }}" />
<link rel="stylesheet" href="{{ asset('bundles/adesignscalendar/css/fullcalendar/calendar.css') }}" />
<link rel="stylesheet" href="{{ asset('css/calendari.css') }}" />

{{ parent() }}

{% endblock %}

{% block content_header %}

{{ parent() }}

	<h1>Calendari</h1>
	{% include 'ADesignsCalendarBundle::calendar.html.twig' %} 
	
	      {% block javascripts %}
			<script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/fullcalendar/jquery.fullcalendar.min.js') }}"></script>
			<script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/calendar-settings.js') }}"></script>
			<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    		<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

			
			<script type="text/javascript" src="{{ asset('fullcalendar/lib/jquery-ui.min.js') }}"></script>
    		<script type="text/javascript" src="{{ asset('fullcalendar/lib/moment.min.js') }}"></script>  
			<script type="text/javascript" src="{{ asset('fullcalendar/locale/ca.js') }}"></script>
			
			
    		<script>
    			$(document).ready(function() {
    				$('#calendar').fullCalendar({
    					lang: 'ca'
    				});
    			});
    		</script> 		
    		
    		{% endblock %}

{% endblock %}
