<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Formulari!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
 	 <h3> {{title}}</h3>
 	 
    	  {{ form_start(form) }}
    	  {{ form_widget(form) }}
    	  {{ form_end(form) }}
    	  
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
