/*Estil de la pàgina principal*/ 

body {
	background-color: white;
}

.main-sidebar, .wrapper {
	background-color: white;
}

/*header*/
.main-header {

}

.main-header > .navbar {
	height: 120px;
	border-radius: 5px;
	box-shadow: 0px 17px 23px -17px rgba(0,0,0,0.75);
}

/*buto amagar menu*/
.main-header .navbar .sidebar-toggle {
	margin-top: 30px;
}

/*logOut*/
.main-header .navbar-custom-menu, .main-header .navbar-right {
	margin-top: 30px;
}

/*logo AsperToDo*/
.main-header img {
	margin-top: 10px;
	max-height: 90px;
}

.main-header .logo {
	height: 80px;
	width: 180px;
}

/*menu lateral */
.main-sidebar {
	width: 180px; 
	margin-top: 130px;
	background-color: #333;
	margin-left: 2px;
	border-radius: 5px;
}

.sidebar-menu>li {
	margin-bottom: 20px;
}

.content-wrapper {
	background-color: white;
	margin-top: 40px;
}

.content {
	padding-top: 10px;
	padding-left: 0px;
	margin: 0px;
}

.sidebar-menu, .main-sidebar .user-panel, .sidebar-menu>li.header {
	border-radius: 5px;

}
