/*Estil del login*/

body {
    background: url(img/3.jpg)  no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
}

form {
    margin-left: 40%;
    margin-top: 5%;
    width: 50%;
    height: 50%
    border: 1px solid black;
    padding: 2em;
    display: block;
}

#caixa {
	width: 40%;
	height: 20%; 
	margin-top: 20px;
	position: absolute;
	top: 40%;
	left: 25%;
}

input {
    width: 25%;
    padding: 4px 20px;
    margin: 2px 0px 20px;
    box-sizing: border-box;
    display: block;
    border: 1 px solid black;
}

label {
	margin-top: 10px;
	display: block;
}

input[type="checkbox"] {
	margin-bottom: 5px;
	display: block;
}

#_submit {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
    padding: 16px 20px;
    text-align: center;
    text-decoration: none;
    float: left;
    font-size: 16px;
    margin: 30px 5px 5px 110px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

#_submit:hover {
    background-color: #4CAF50;
    color: white;
}

#registre {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
    padding: 16px 20px;
    text-align: center;
    text-decoration: none;
    float: right;
    display: inline;
    font-size: 16px;
    margin: 30px 0px 5px 20px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

#registre:hover {
    background-color: #4CAF50;
    color: white;
}